*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}
.contenedor
{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}
.Titulo
{
  display: flex;
  justify-content: center;
}
.MensajeEleccion
{
display: flex;
margin-top: 10%;
justify-content: center;
}
.Contenedor-Cabros
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #8080;
  margin-top: 10%;
}

.Contenedor-Cabros .Carta-Cabros
{
background: #0E0E2C;
width: 25.33333333%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.Contenedor-Cabros .Carta-Cabros .Nico
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color:white;
}
.Contenedor-Cabros .Carta-Cabros .Nico img
{
  width: 100px;
  height: 100px;

}

.Contenedor-Cabros .Carta-Cabros .Nico .info
{
  margin-top: 2%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.Contenedor-Cabros .Carta-Cabros .Nico .info i
{
align-self: center;
width: 20%;
height: 30%;
}
.Contenedor-Cabros .Carta-Cabros .Nico .info a
{
position: relative;
top: 20%;
width: 70%;
height: 30%;
}
