.mesa {
    background: yellow;
    width: 400px;
    height: 900px;
    margin-left: 2%;
    position: absolute;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
}

.cuadro {
    margin-top: 2%;
    margin-left: 2%;
    background: white;
    width: 150px;
    min-width: 150px;
    height: 100px;
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #999;
    display: flex;
}

.nombre{
    background-color: blue;
    width: 70%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
}

.botones{
    background-color: red;
    width: 20%;
    height: 80%;
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 5%;
}